# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# déconseillé pour projets maven (https://www.jetbrains.com/help/idea/configure-project-settings.html#share-project-through-vcs)
modules.xml
